$md: 768px;

//For Medium
@mixin md {
    @media screen and (max-width: ($md)) {
        @content;
    }
}

.spinnerwhole {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}

.ansLoaderCnt {
    position: relative;
    top: 14%;
    left: 1%;

    @include md {
        top: 0%;
        left: -5%;
    }
}

.ansLoaderCntTxt {
    font-family: 'Segoe UI';
    background-color: rgb(252, 252, 252);
    width: 34%;

    @include md {
        width: 90%;
    }

    // background-color: #0DC3BB;
    // color: white;
}

.paraMainText {
    // font-size: smaller;
}