
$md: 768px;
//For Medium
@mixin md {
  @media screen and (max-width: ($md)) {
    @content;
  }
}

$lightBackgroundColor: #f5fbfb;
$strongBackgroundColor: #03b3e3;
$searhfieldColor: #3535b4;

* {
    margin: 0%;
    padding: 0%;
}
.navHome-container {
    width: 100vw;
   
}

.navHome-option-nexus{
    display: flex;
    &:hover{
    background-color: $lightBackgroundColor;
    cursor: not-allowed;
    } 
    // @include md{
    //     display: none;
    // }
}

.navHome-options {
    
    list-style: none;
    min-height: 12vh;
 
}

.navHomeOption-menuIcon {
    height: 5vh;
}

.navHomeOptionTitle-img {
    width: 113px;
}

.navHome-optionSearch {
    border: 1px solid $searhfieldColor;
    width: 48vw;
    border-radius: 30px;
    padding: 3px;
    display: flex;
    .bi-x {
        font-size: larger;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 28px;
        font-weight: bolder;
        cursor: pointer;

        &:hover {
            background-color: rgb(207, 206, 206);
        }
    }
    .navHomeoptionSearch-btn{
        cursor: not-allowed;
    }

    @include md{
        display: none;
    }
}

.navHomeoptionSearch-btn {
    background-color: $searhfieldColor;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 6px 16px;
}

.navHomeoptionSearch-input {
    width: 35vw;
    outline: none;
    border: none;

    &::placeholder {
        font-size: small;
    }
}

.navHome-optionIconsHolder {
    aspect-ratio: 1;
    width: 22px;
}

.navHome-optionIcons {
    display: flex;
    span {
        cursor: not-allowed;
    }   

    @include md{
        display: none;
    }
}
.navHome-optionUser{
    i{
        cursor: not-allowed;
        @include md{
            display: none;
        }
    }
}

.navHome-optionUser-img {
    aspect-ratio: 1;
    height: 3.3vw;
    border-radius: 50%;

    @include md{
        height: 9vw;
    }
    
}

.navHome-optionUser-text {
    font-size: 1vw;
    height: 10vh;
    width: 10vw;
    @include md{
        width: 20vw;
        font-size: x-small;
        position: relative;
        top: 2vh;
    }
}

.navHome-optionUsertext-role {
    color: grey;
    font-weight: 600;
    font-size:0.5vw;
    // border: 1px solid black;
    @include md{
        
        font-size: 1.9vw;
    }
}
.navHome-optionlogoMenu{
    cursor: pointer; 
    &:hover{
        background-color: $lightBackgroundColor;
    }
}
.nexusImg{
    width: 10vw;
    // position: relative;
    // top: -0.5vh;
    transform: scale(1.4);
    @include md{
        width: 22vw;
    }
}

