$md: 768px;

//For Medium
@mixin md {
    @media screen and (max-width: ($md)) {
        @content;
    }
}

.storybrdHdng-StartTime {
    font-size: smaller;
}

.storybrdHdng-StartText {
    border-bottom: 3px solid #27DEBF;
}

.storybrdHdng-end {
    cursor: not-allowed;
    width: 12vw;
    // border: 1px solid;
    span {
        font-size: medium;
    }

    @include md{
        width: 32vw;
    }

}

.storyboardCnt {
    display: flex;
    flex-wrap: wrap;
}
.storyCardSectionContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap: 2vh;
   @include md{
    height: 40vh;
    overflow: scroll;
    padding-bottom: 10vh;
    margin-top: 0vh;
    gap: 0vh;
   }
}
.storyboardCard {
    // width: 13vw;
    height: 13vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex: 0 0 33%; 

    @include md {
        flex: none;
        width: 35vw;
    }
}

.storyboardCardTitle {
    text-wrap: nowrap;
    font-size: small;

}

.storybrdNum {
    font-size: small;
    font-weight: bold;
}

.storyBoardImage {
    aspect-ratio: 1;
    width: 2.5vw;
    @include md{
        width: 6vw;
    }
}

.storyboardCard {
    background-size: 200% 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-position 0.5s;
}

.storyboardCard::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -110%;
    width: 50%;
    height: 120%;
    background: linear-gradient(90deg, transparent, white);
    transform: skewX(-20deg);
}

.storyboardCard {
    background-color: #f8f8fa;

    background-position: 100% 0;
}

.storyboardCard:hover::before {
    animation: shine 1s linear;
}

@keyframes shine {
    0% {
        left: -110%;
    }

    50% {
        left: 110%;
    }

    100% {
        left: 110%;
    }
}